services:
  local_db:
    image: postgres:16
    env_file: [.env]
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./pgdata:/var/lib/postgresql/data          # persist data
      # here the sql schema
      # :ro is just a cleaning thing it means read only since we dont want the script in the container to change it
      - ./app/storage/local_ids_db/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro 
     
    ports:
      - "5432:5432"   # optional: remove if you don't need host access

  backend:
    build: .
    env_file: [.env]   
    environment:
      # <dialect>+<driver>://<user>:<password>@<host>:<port>/<database>
      DATABASE_URL: ${DATABASE_URL}
    tmpfs:
      # it is used for the mockup local storage
      - /data:size=64m
    depends_on:
      - local_db
    ports:
      - "8000:8000"
